<h1>Welcome to Twiclone!!</h1>

<table>
  <tr>
    <%= link_to "new tweet", new_twiclone_path %>
    <th>一覧</th>
  </tr>

  <% @twiclones.each do |twiclone| %>
    <tr>
      <td><%= twiclone.content %></td>
      <td><%= link_to "編集", edit_twiclone_path(twiclone.id), data: {confirm: "編集しますか？"} %></td>

      <td><%= button_to "削除", twiclone_path(twiclone.id), method: :delete, data:{confirm: "削除しますか？"} %></td>
    </tr>
    <% end %>
</table>
