<header class="top">
  <h1>Welcome to Twiclone!!</h1>
</header>

<nav class ="menu">
  <ul>
    <li><i class="fas fa-home"></i><a href="#">ホーム</a></li>
    <li><i class="fas fa-bell"></i><a href="#">通知</a></li>
    <li><i class="fas fa-envelope"></i><a href="#">メッセージ</a></li>
    <li><i class="fas fa-book"></i><a href="#">ブックマーク</a></li>
    <li><i class="fas fa-list"></i><a href="#">リスト</a></li>
  <ul class="new_post">
    <li><i class="fas fa-paper-plane"></i><%= link_to "ツイート", new_twiclone_path %></li>
  </ul>
</nav>

<article class="posted">
  <div class="posted_block">
    <% @twiclones.each do |twiclone| %>
      <figure>
        <i class="fas fa-user" style="font-size:50px"></i>
      </figure>

      <div class="tweet">
        <p><%= twiclone.content %></p>
      </div>

      <div class="buttons">
        <%= link_to "編集", edit_twiclone_path(twiclone.id), data: {confirm: "編集しますか？"} %>
        <%= link_to "削除", twiclone_path(twiclone.id), method: :delete, data:{confirm: "削除しますか？"} %>
      </div>
    <% end %>
  </div>
</article>
