  <header class="top">
    <h1>Welcome to Twiclone!!</h1>
  </header>

    <nav class ="menu">
        <ul>
            <li><span class="glyphicon glyphicon-home"></span><a href="#">ホーム</a></li>
            <li><span class="glyphicon glyphicon-bell"></span><a href="#">通知</a></li>
            <li><span class="glyphicon glyphicon-envelope" ></span><a href="#">メッセージ</a></li>
            <li><span class="glyphicon glyphicon-book"></span><a href="#">ブックマーク</a></li>
            <li><span class="glyphicon glyphicon-list"></span><a href="#">リスト</a></li>
        <ul class="new_post">
          <li><span class="glyphicon glyphicon-send"></span><%= link_to "ツイート", new_twiclone_path %></li>
        </ul>
    </nav>

  <article class="posted">
    <div class="posted_block">
      <% @twiclones.each do |twiclone| %>
        <figure>
          <span class="glyphicon glyphicon-user" style="font-size: 50px"></span>
        </figure>

        <div class="content">
          <p><%= twiclone.content %></p>
        </div>

        <div class="buttons">
              <%= link_to "編集", edit_twiclone_path(twiclone.id), data: {confirm: "編集しますか？"} %>
              <%= link_to "削除", twiclone_path(twiclone.id), method: :delete, data:{confirm: "削除しますか？"} %>
        </div>
      <% end %>
    </div>
  </article>
</div>
